# vendor foi usado para o nestjs
DB_VENDOR=sqlite
DB_HOST=":memory:"
DB_LOGGING=false
DB_AUTO_LOAD_MODELS=true

# DB_VENDOR=mysql
# DB_HOST=db_test
# DB_DATABASE=micro_videos_test
# DB_USERNAME=root
# DB_PASSWORD=root
# DB_PORT=3306
# DB_LOGGING=false
# DB_AUTO_LOAD_MODELS=true

GOOGLE_CLOUD_CREDENTIALS=
GOOGLE_CLOUD_STORAGE_BUCKET_NAME=

RABBITMQ_URI=amqp://admin:admin@fc3-codeflix-rabbitmq:5672
RABBITMQ_REGISTER_HANDLERS=false

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmPkCdNSormpSpM8krtNNZcGQTJ7lqojbUd8BiHuS2NyauIloo/+rkySVYvCuQlQIsNX3uoqLOYZRi8wJV3TN+VeXw6J3GnNElhhEHu/6q8Aj5WnddZmjj/b6Lmml9mhARvnfg6ALRyYvAs0+VoljCBe0U837FE5DJH6KM2tMDgDTlSUOO3UAp9cuDnWTn+UATOnquaulhFOlhK4I9QLIhNBXd8fkevViP9IPjEffVwTeAKQMA2P85BNC15pdaw9Vo45kHrk6hevlYikG2/ZPjiNq14WwXzC4dLk//vXs7+kh52FeYlgzZ7tYaNxUUTYIc8JAiHbsUG5Pb0F7o5QFXQIDAQAB\n-----END PUBLIC KEY-----\n"
JWT_PRIVATE_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmPkCdNSormpSpM8krtNNZcGQTJ7lqojbUd8BiHuS2NyauIloo/+rkySVYvCuQlQIsNX3uoqLOYZRi8wJV3TN+VeXw6J3GnNElhhEHu/6q8Aj5WnddZmjj/b6Lmml9mhARvnfg6ALRyYvAs0+VoljCBe0U837FE5DJH6KM2tMDgDTlSUOO3UAp9cuDnWTn+UATOnquaulhFOlhK4I9QLIhNBXd8fkevViP9IPjEffVwTeAKQMA2P85BNC15pdaw9Vo45kHrk6hevlYikG2/ZPjiNq14WwXzC4dLk//vXs7+kh52FeYlgzZ7tYaNxUUTYIc8JAiHbsUG5Pb0F7o5QFXQIDAQAB\n-----END PUBLIC KEY-----\n"